@media screen and (min-width: 1279px) and (max-width: 1500px) {
  .footer {
    width: 318px;
    height: 18px;
    font-size: 18px;
    color: rgba(84, 84, 84, 1);
    margin-top: 67px;
    margin-left: 200px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
  .footer {
    width: 282px;
    height: 18px;
    font-size: 18px;
    color: rgba(84, 84, 84, 1);
    margin-top: 50px;
    margin-left: 19px;
  }
}
