.header {
  display: flex;
  width: 880px;
  height: 74px;
  margin-top: 45px;
  margin-left: 200px;
  border-bottom-color: rgba(84, 84, 84, 1);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.header__vector {
  width: 173px;
  height: 33px;
  margin: 0;
}
