@media screen and (min-width: 1279px) and (max-width: 1500px) {
  .popup {
    display: none;
  }
  .popup__opened {
    position: fixed;
    width: 1280px;
    height: 1217px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .popup__container {
    position: fixed;
    width: 430px;
    height: 330px;
    top: 195px;
    left: 425px;
    opacity: 1;
    border-radius: 10px;
    background: rgba(255, 255, 255, 1);
  }
  .popup__container-closelogo {
    position: fixed;
    width: 30px;
    height: 30px;
    margin-left: 665px;
    margin-bottom: 100px;
    cursor: pointer;
  }
  .popup__container-closelogo:hover {
    opacity: 0.6;
    border-color: rgba(255, 255, 255, 0.6);
  }

  .popup__container-title {
    width: 330px;
    height: 23px;
    margin-top: 34px;
    margin-left: 36px;
    margin-bottom: 0;
    opacity: 1;
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    font-family: "inter-bold";
    font-style: bold;
  }
  .popup__container-fieldset {
    display: fixed;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 430px;
    height: 186px;
  }
  .popup__container-label {
    width: 358px;
    height: 27px;
  }
  .popup__container-profile {
    margin-top: 54px;
    margin-bottom: 30px;
    margin-left: 35px;
    opacity: 1;
    border-width: 1px;
    width: 358px;
    height: 27px;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-family: "inter-regular";
    font-style: normal;
  }

  .popup__container-hobbie {
    margin-left: 35px;
    opacity: 1;
    border-width: 1px;
    width: 358px;
    height: 27px;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-family: "inter-regular";
    font-style: normal;
  }

  .popup__container__bottom {
    width: 358px;
    height: 50px;
    margin-top: 48px;
    margin-left: 36px;
    opacity: 1;
    border-radius: 2px;
    border-width: 1px;
    border-color: rgba(196, 196, 196, 1);
    color: rgba(196, 196, 196, 1);
    padding: 0;
    background-color: transparent;
    font-size: 18px;
    font-family: "inter-regular";
    font-style: normal;
    cursor: pointer;
  }

  .popup__container-fieldset {
    width: auto;
    height: auto;
    top: 363px;
    left: 460px;
    opacity: 1;
    font-size: 14px;
    border: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
  .popup {
    display: none;
  }
  .popup__opened {
    position: fixed;
    width: 320px;
    height: 2814px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .popup__container {
    position: fixed;
    width: 282px;
    height: 322px;
    top: 123px;
    left: 19px;
    opacity: 1;
    border-radius: 10px;
    background: rgba(255, 255, 255, 1);
  }
  .popup__container-closelogo {
    position: fixed;
    width: 30px;
    height: 30px;
    margin-left: 264px;
    margin-bottom: 100px;
    cursor: pointer;
  }
  .popup__container-closelogo:hover {
    opacity: 0.6;
    border-color: rgba(255, 255, 255, 0.6);
  }

  .popup__container-title {
    width: 238px;
    height: 22px;
    margin-top: 25px;
    margin-left: 22px;
    margin-bottom: 0;
    opacity: 1;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
    font-family: "inter-bold";
    font-style: bold;
  }
  .popup__container-fieldset {
    display: fixed;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 430px;
    height: 186px;
  }
  .popup__container-label {
    width: 358px;
    height: 27px;
  }
  .popup__container-profile {
    margin-top: 54px;
    margin-bottom: 30px;
    margin-left: 22px;
    opacity: 1;
    border-width: 1px;
    width: 238px;
    height: 26px;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-family: "inter-regular";
    font-style: normal;
  }

  .popup__container-hobbie {
    margin-left: 22px;
    opacity: 1;
    border-width: 1px;
    width: 238px;
    height: 26px;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-family: "inter-regular";
    font-style: normal;
  }

  .popup__container__bottom {
    width: 238px;
    height: 46px;
    margin-top: 48px;
    margin-left: 22px;
    opacity: 1;
    border-radius: 2px;
    border-width: 1px;
    border-color: rgba(196, 196, 196, 1);
    color: rgba(196, 196, 196, 1);
    padding: 0;
    background-color: transparent;
    font-size: 18px;
    font-family: "inter-regular";
    font-style: normal;
    cursor: pointer;
  }

  .popup__container-fieldset {
    width: auto;
    height: auto;
    top: 363px;
    left: 460px;
    opacity: 1;
    font-size: 14px;
    border: none;
  }
}
